{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ajouter une question</h1>


    <form method="post" class="cmxform form-horizontal tasi-form" action="{{ path ('question_create', { 'lang_id' : lang_id}) }}">
        {{ form(form) }}
    </form>
{% endblock %}
