{% extends 'AppAdminBundle:Layout:admin_layout.html.twig' %}
{% form_theme edit_form 'AppAdminBundle:Form:fields.html.twig' %}

{% block body -%}
   
   
    <div class="row">
      <div class="col-lg-12">
          <section class="panel">
              <header class="panel-heading">
                  Édition d'une réponse
              </header>
             <div class="panel-body">
               <form method="post" class="form-horizontal tasi-form" action="{{ path ('reponse_update', {'id' : entity.id}) }}">
                  {{ form(edit_form) }}
              </div>
               </form>
               <ul class="record_actions">
                  <li>
                      <a href="{{ path('list_reponses') }}">
                          Back to the list
                      </a>

                  </li>
                  <li>{{ form(delete_form) }}</li>
               </ul>

          </section>
      </div>
   </div>
{% endblock %}
